# config files
proxy.config.json
.vscode
.git

# node
node_modules/

# list files
lists/*

# not used
assets/

# distribution / packaging
env/
build/
dist/
test/

# temp files
src/app/*.js*
src/*.js*






