<div fxLayout="row" fxFlexFill *ngIf="list!=null">
    <mat-card fxFlex="33">
        <mat-card-header>
            <mat-icon mat-card-avatar color="primary">looks_one</mat-icon>
            <mat-card-title>Choose</mat-card-title>
            <mat-card-subtitle>Select needed items</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <input matInput placeholder="New Category..." [(ngModel)]="new_category.name">
                <mat-icon style="vertical-align: bottom" class="pointer" (click)="addCat(new_category.name)">add</mat-icon>
            </div>
            <span>&nbsp;</span>
            <mat-divider></mat-divider>
            <span>&nbsp;</span>
            <div *ngFor="let cat of list.categories; let i = index; trackBy: trackByFn">
                <span class="category" fxFlexLayout="row" fxFlexFill fxLayoutAlign="start center">
                    <span fxFlexAlign="start center" fxFlex>
                        <mat-checkbox [(ngModel)]="cat.take" (change)="toggleAll(i, cat.take)">{{cat?.name}}</mat-checkbox>
                        <span *ngIf="!cat.editmode">
                            <mat-icon  class="pointer" style="vertical-align: bottom" (click)="cat.editmode=true">edit</mat-icon>
                        </span>
                        <span *ngIf="cat.editmode">
                            <input matInput [(ngModel)]="cat.name">
                            <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.editmode=false;cat.item_add=false">done</mat-icon>
                            <mat-icon style="vertical-align: bottom" class="pointer" (click)="deleteCat(i)">delete</mat-icon>
                            <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.item_add = true">add</mat-icon>
                        </span>
                    </span>
                    <span fxFlexAlign="end center">
                        <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.list = !cat.list" *ngIf="cat.list">expand_less</mat-icon>
                        <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.list = !cat.list" *ngIf="!cat.list">expand_more</mat-icon>
                    </span>
                </span>
                <mat-selection-list class="item-list" *ngIf="!cat.list">
                    <mat-list-option *ngFor="let item of cat.items; let j = index; trackBy: trackByFn" [value]="item.name" [selected]="item.take" [disabled]="cat.editmode" checkboxPosition="before" (selectionChange)="changeEvent(i, j)">
                        <span fxFlexLayout="row" fxFlexFill fxLayoutAlign="start center"> 
                            <span fxFlexAlign="start center" fxFlex="grow">
                                <span class="item-name" *ngIf="!cat.editmode && !item.editmode">
                                    {{item.name}}
                                </span>
                                <span *ngIf="cat.editmode || item.editmode">
                                    <input matInput [(ngModel)]="item.name">
                                    <input matInput [(ngModel)]="item.default_action">
                                    <mat-icon style="vertical-align: bottom" (click)="deleteItem(i, j)">delete</mat-icon>
                                </span>
                            </span>
                            <span *ngIf="!cat.editmode && !item.editmode" fxFlexAlign="end center" fxFlex>
                                    ({{item.default_action}})
                            </span>
                        </span>
                    </mat-list-option>

                </mat-selection-list>
                <span *ngIf="cat.item_add">
                    <input matInput placeholder="New Item..." [(ngModel)]="new_item.name">
                    <input matInput placeholder="Default action..." [(ngModel)]="new_item.default_action">
                    <mat-icon style="vertical-align: bottom" class="pointer" (click)="addItem(i, new_item.name, new_item.default_action)">done</mat-icon>
                </span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="33">
        <mat-card-header>
            <mat-icon mat-card-avatar color="primary">looks_two</mat-icon>
            <mat-card-title>Pack</mat-card-title>
            <mat-card-subtitle>Verify and pack</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let cat of list?.categories; let i = index; trackBy: trackById">
                <span class="category" *ngIf="cat.has_items">
                    {{cat.name}}
                </span>
                <mat-list *ngIf="cat.has_items" class="item-list">
                    <mat-list-item *ngFor="let item of filterTake(i)">
                        <div fxLayout="row" fxFlexFill fxFlexGaps="10px" fxLayoutAlign="space-around center">
                            <span class="item" fxFlexAlign="start center" fxFlex>
                                <mat-checkbox [(ngModel)]="item.pack" fxFlex="grow">
                                <span class="item-name">{{item.name}}</span>
                                </mat-checkbox>
                            </span>
                            <span fxFlexAlign="end center">
                                <input matInput placeholder="{{item.default_action}}" [(ngModel)]="item.new_current_action">
                                <mat-icon class="pointer" fxFlex="auto" (click)="addActionToItem(item, item.new_current_action)">add</mat-icon>
                            </span>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="34">
        <mat-card-header>
            <mat-icon mat-card-avatar color="primary">looks_3</mat-icon>
             <mat-card-title>TODO</mat-card-title>
            <mat-card-subtitle>Go get things done</mat-card-subtitle>
        </mat-card-header>
       <mat-card-content>
           <div>
            <div *ngFor="let cat of list.categories; let i = index">
                <span *ngIf="testFilterDo(i)" class="item-list">
                    <mat-list *ngFor="let item of filterDo(i); let j = index">
                        <mat-list-item *ngFor="let action of item.current_actions; let a = index">
                        <div fxFlex fxFlexLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                            <span *ngIf="!action.editmode" class="item" fxFlexAlign="start center">
                                <mat-checkbox [(ngModel)]="action.done">
                                    <span>[{{item.name}}] {{action.name}}</span>
                                </mat-checkbox>
                            </span>
                            <span *ngIf="action.editmode" class="item" fxFlexAlign="start center" fxFlex="grow">
                                <mat-checkbox [disabled]="true"></mat-checkbox>&nbsp;
                                <span>[{{item.name}}]</span>&nbsp;
                                <input matInput fxFlex="grow" [(ngModel)]="action.name">
                            </span>
                            <span *ngIf="!action.editmode" fxFlexAlign="end center">
                                <mat-icon class="pointer" (click)="action.editmode = true">edit</mat-icon>
                                <mat-icon class="pointer" (click)="deleteActionFromItem(i, j, a)">delete</mat-icon>
                            </span>
                            <span *ngIf="action.editmode" fxFlexAlign="end center">
                                <mat-icon class="pointer" (click)="action.editmode = false">done</mat-icon>
                            </span>
                        </div>
                        </mat-list-item>
                    </mat-list>
                </span>
            </div>
            <div>
                <mat-list class="item-list">
                    <mat-list-item *ngFor="let action of list.custom_actions; let a=index">
                        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
                            <span *ngIf="!action.edit" class="item" fxFlexAlign="start center">
                                <mat-checkbox>[Custom]&nbsp;{{action?.name}}</mat-checkbox>
                            </span>
                            <span *ngIf="action.edit" class="item" fxFlexAlign="start center" fxFlex="grow">
                                <mat-checkbox [disabled]="true"></mat-checkbox>&nbsp;
                                <span>[Custom]&nbsp;</span>
                                <input matInput fxFlex="grow" [(ngModel)]="list.custom_actions[a].name">
                            </span>
                            <span *ngIf="!action.edit" fxFlexAlign="end center">
                                <mat-icon class="pointer" (click)="action.edit = true">edit</mat-icon>
                                <mat-icon class="pointer" (click)="removeCustomAction(a)">delete</mat-icon>
                            </span>
                            <span *ngIf="action.edit" fxFlexAlign="end center">
                                <mat-icon class="pointer" (click)="action.edit = false">done</mat-icon>
                            </span>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div style="width: 100%" fxLayoutAlign="start end">
                <input matInput style="width: 100%" placeholder="Add other stuff to do" [(ngModel)]="new_custom_action">
                <mat-icon class="pointer" (click)="addCustomAction(new_custom_action)">add</mat-icon>
            </div>
        </div>
       </mat-card-content>
    </mat-card>
</div>