.category{
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 8px;
    display: block;
}

.mat-list .category{
    padding-top: 0px;
}

.category mat-checkbox{
    padding-right: 5px;
}
.item-name{
    font-size: 14px;
}

.mat-card-header .mat-icon{
    font-size: 36px;
    padding: 0px 10px 10px 0px;
}


