<mat-list class="item-list">
    <mat-list-item *ngFor="let action of list.custom_actions; let a=index">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
            <span *ngIf="!action.edit" class="item" fxFlexAlign="start center">
                <mat-checkbox [(ngModel)]="action.done">[Custom]&nbsp;{{action?.name}}</mat-checkbox>
            </span>
            <span *ngIf="action.edit" class="item" fxFlexAlign="start center" fxFlex="grow">
                <mat-checkbox [disabled]="true"></mat-checkbox>&nbsp;
                <span>[Custom]&nbsp;</span>
                <input matInput fxFlex="grow" [(ngModel)]="list.custom_actions[a].name">
            </span>
            <span *ngIf="!action.edit" fxFlexAlign="end center">
                <mat-icon class="pointer" (click)="action.edit = true">edit</mat-icon>
                <mat-icon class="pointer" (click)="removeCustomAction(a)">delete</mat-icon>
            </span>
            <span *ngIf="action.edit" fxFlexAlign="end center">
                <mat-icon class="pointer" (click)="action.edit = false">done</mat-icon>
            </span>
            </div>
    </mat-list-item>
</mat-list>
<div style="width: 100%" fxLayoutAlign="start end">
    <input matInput style="width: 100%" placeholder="Add other stuff to do" [(ngModel)]="new_custom_action">
    <mat-icon class="pointer" (click)="addCustomAction(new_custom_action)">add</mat-icon>
</div>