<mat-divider></mat-divider>
<span>&nbsp;</span>
<div *ngFor="let cat of list.categories; let i = index; trackBy: trackByFn">
    <span class="category" fxFlexLayout="row" fxFlexFill fxLayoutAlign="start center">
        <span fxFlexAlign="start center" fxFlex>
            <mat-checkbox [(ngModel)]="cat.take" (change)="toggleAll(i, cat.take)">{{cat?.name}}</mat-checkbox>
            <span *ngIf="!cat.editmode">
                <mat-icon  class="pointer" style="vertical-align: bottom" (click)="cat.editmode=true">edit</mat-icon>
            </span>
            <span *ngIf="cat.editmode">
                <input matInput [(ngModel)]="cat.name">
                <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.editmode=false;cat.item_add=false">done</mat-icon>
                <mat-icon style="vertical-align: bottom" class="pointer" (click)="deleteCat(i)">delete</mat-icon>
                <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.item_add = true">add</mat-icon>
            </span>
        </span>
        <span fxFlexAlign="end center">
            <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.list = !cat.list" *ngIf="cat.list">expand_less</mat-icon>
            <mat-icon style="vertical-align: bottom" class="pointer" (click)="cat.list = !cat.list" *ngIf="!cat.list">expand_more</mat-icon>
        </span>
    </span>
    <mat-selection-list class="item-list" *ngIf="!cat.list">
        <mat-list-option *ngFor="let item of cat.items; let j = index; trackBy: trackByFn" [value]="item.name" [selected]="item.take" [disabled]="cat.editmode" checkboxPosition="before" (selectionChange)="changeEvent(i, j)">
            <span fxFlexLayout="row" fxFlexFill fxLayoutAlign="start center"> 
                <span fxFlexAlign="start center" fxFlex="grow">
                    <span class="item-name" *ngIf="!cat.editmode && !item.editmode">
                        {{item.name}}
                    </span>
                    <span *ngIf="cat.editmode || item.editmode">
                        <input matInput [(ngModel)]="item.name">
                        <input matInput [(ngModel)]="item.default_action">
                        <mat-icon style="vertical-align: bottom" (click)="deleteItem(i, j)">delete</mat-icon>
                    </span>
                </span>
                <span *ngIf="!cat.editmode && !item.editmode" fxFlexAlign="end center" fxFlex>
                        ({{item.default_action}})
                </span>
            </span>
        </mat-list-option>

    </mat-selection-list>
    <span *ngIf="cat.item_add">
        <input matInput placeholder="New Item..." [(ngModel)]="new_item.name">
        <input matInput placeholder="Default action..." [(ngModel)]="new_item.default_action">
        <mat-icon style="vertical-align: bottom" class="pointer" (click)="addItem(i, new_item.name, new_item.default_action)">done</mat-icon>
    </span>
</div>

<div>
    <span>&nbsp;</span>
    <input matInput placeholder="New Category..." [(ngModel)]="new_category.name">
    <mat-icon style="vertical-align: bottom" class="pointer" (click)="addCat(new_category.name)">add</mat-icon>
</div>