<div fxLayout="row" fxFlexFill *ngIf="list">
    <mat-card fxFlex="33">
        <mat-card-header>
            <mat-icon mat-card-avatar color="primary">looks_one</mat-icon>
            <mat-card-title>Choose</mat-card-title>
            <mat-card-subtitle>Select needed items</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div-list-crud [list]="list"></div-list-crud>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="33">
        <mat-card-header>
            <mat-icon mat-card-avatar color="primary">looks_two</mat-icon>
            <mat-card-title>Pack</mat-card-title>
            <mat-card-subtitle>Verify and pack</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div-list-take [list]="list"></div-list-take>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="34">
        <mat-card-header>
            <mat-icon mat-card-avatar color="primary">looks_3</mat-icon>
            <mat-card-title>TODO</mat-card-title>
            <mat-card-subtitle>Go get things done</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div-item-actions [list]="list"></div-item-actions>
            <div-custom-actions [list]="list"></div-custom-actions>
        </mat-card-content>
    </mat-card>
</div>